<div
  class="root mat-typography"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  [scrollWindow]="false"
  (scrolled)="onScroll()"
>
  <mat-toolbar class="app-bar">
    <h1
      [hidden]="isMobile"
      class="mat-display-3"
      style="margin-bottom: 0;"
      fx-hide.xs="true"
    >
      Phodo
    </h1>
    <mat-divider [hidden]="isMobile" vertical fx-hide.xs="true"></mat-divider>
    <h5>Search:</h5>
    <mat-form-field class="chip-form graphic">
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let query of queries"
          removable
          (removed)="removeQuery(query)"
        >
          {{ query }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
          (matChipInputTokenEnd)="addQuery($event)"
        />
      </mat-chip-list>
    </mat-form-field>
    <mat-divider [hidden]="isMobile" vertical fx-hide.xs="true"></mat-divider>
    <button mat-button (click)="export()" fxHide.lt-md="true">Export</button>
    <mat-form-field class="export-format-form" fxHide.lt-md="true">
      <mat-select [(value)]="exportFormat">
        <mat-option value="json">JSON</mat-option>
        <mat-option value="csv">CSV</mat-option>
        <mat-option value="xml">XML</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-divider vertical fxHide.lt-md="true"></mat-divider>
    <button [hidden]="isMobile" mat-button (click)="reset()" fx-hide.xs="true">
      Reset
    </button>
    <mat-divider vertical fxHide.lt-md="true"></mat-divider>
    <h5 fxHide.lt-md="true">Batch size: {{ paginationAmount }}</h5>
    <mat-slider
      thumbLabel
      min="10"
      max="20"
      step="1"
      tickInterval="1"
      (change)="submitWindow()"
      [(ngModel)]="paginationAmount"
      class="slider graphic"
      fxHide.lt-md="true"
    ></mat-slider>
    <mat-divider vertical fxHide.lt-lg="true"></mat-divider>
    <h5 fxHide.lt-lg="true">Quota</h5>
    <mat-progress-bar
      mode="determinate"
      color="accent"
      [value]="ratelimit"
      class="progress-bar graphic"
      matTooltip="{{ ratelimit }}%"
      matTooltipPosition="below"
      fxHide.lt-lg="true"
    ></mat-progress-bar>
  </mat-toolbar>

  <ng-masonry-grid
    [masonryOptions]="{
      transitionDuration: '0.8s',
      gutter: 5,
      columnWidth: 300,
      fitWidth: true
    }"
    [useAnimation]="true"
    [useImagesLoaded]="true"
    [scrollAnimationOptions]="{
      animationEffect: 'effect-4',
      minDuration: 0.4,
      maxDuration: 0.7
    }"
  >
    <ng-masonry-grid-item *ngFor="let photo of photos" class="masonry-item">
      <img
        [src]="photo.urls.small"
        [matTooltip]="photo.description || photo.alt_description || 'None'"
        (click)="openPhotoDialog(photo)"
        [style.cursor]="isMobile ? 'none' : 'pointer'"
      />
    </ng-masonry-grid-item>
  </ng-masonry-grid>
</div>
